[submodule "themes/hugo-academic"]
	path = themes/hugo-academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
[submodule "themes/mediumish-gohugo-theme"]
	path = themes/mediumish-gohugo-theme
	url = https://github.com/lgaida/mediumish-gohugo-theme
